<!doctype html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>主页</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'myauth:signout' %}">登出</a>
        {% else %}
            <a href="{% url 'myauth:signin' %}">登录</a>
        {% endif %}
</body>
</html>
