nav .header1 {
    font-size: .1667rem;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 1rem;
}

nav .header1 h1 {
    border-bottom: .08rem #71246b solid;
}

nav .con p {
    line-height: .5rem;
    font-size: .3rem;
    width: 85%;
    margin: 0 auto;
    text-indent: .6rem;
}

nav .con img {
    width: 80%;
    margin-top: .2667rem;
    margin-left: 10%;
}