nav .header1 {
    font-size: 21px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}

nav .header1 h1 {
    margin: 0 auto;
    width: 70%;
    border-bottom: 4px #71246b solid;
}

nav .con p {
    line-height: 50px;
    font-size: 20px;
    width: 85%;
    margin: 0 auto;
    text-indent: 40px;
}

nav .con img {
    text-align: center;
    width: 40%;
    margin-top: 40px;
    margin-left: 2%;
}

nav .con :nth-child(2) {
    margin-left: 10%;
}

.nav2 {
    height: 2150px;
}