h1 {
    border-bottom: #71246b solid;
    font-size: 25px;
}

.header1 {
    height: 60px;
    padding-left: 90px;
    margin-top: 50px;
}

.header1 div {
    text-indent: 1em;
    width: 170px;
}

.header2 {
    height: 60px;
    padding-left: 30px;
    margin-top: 50px;
}

.header2 div {
    text-indent: 1em;
    width: 325px;
}

.header3 {
    height: 60px;
    padding-left: 80px;
    margin-top: 50px;
}

.header3 div {
    text-indent: 1em;
    width: 190px;
}


nav div h3 {
    font-size: 23px;
    font-weight: 550;
    text-indent: 4em;
}

nav div p {
    font-size: 17px;
    text-indent: 6em;
}

nav .con1 img {
    position: relative;
    left: 20%;
}

nav .con2 img {
    height: 400px;
    margin-left: 40px;
    margin-top: 20px;
}

nav .con3 img {
    height: 160px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
}