.tab {
    margin-top: .7rem;
    margin-bottom: .6667rem;
}

.tab_list {
    width: 8.5rem;
    height: 0.8rem;
    border-bottom: .08rem #71246b solid;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0rem;
}

.tab_list li {
    display: block;
    float: left;
    list-style: none;
    font-size: .4rem;
    height: 0.85rem;
    width: 4.25rem;
    line-height: 1rem;
    text-align: center;
    margin: 0rem;
    padding: 0rem;
}

.tab_list .current {
    background-color: #71246b;
    color: #fff;
    margin: 0rem;
    padding: 0rem;
}

.item {
    display: none;
}


.item p {
    line-height: .45rem;
    text-indent: .5rem;
    width: 85%;
    margin: 0 auto;
    margin-top: .3rem;
    font-size: .3rem;
}

.item img {
    width: 80%;
    margin: .09rem 0;
    margin-left: 10%;

}