@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?li94c9');
  src: url('fonts/icomoon.eot?li94c9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?li94c9') format('truetype'),
    url('fonts/icomoon.woff?li94c9') format('woff'),
    url('fonts/icomoon.svg?li94c9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  min-width: 4.2667rem;
  max-width: 10rem;
  width: 10rem;
  margin: 0 auto;
  font-family: Arial, Helvetica;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.top {
  width: auto;
  height: .9333rem;
  /* background-color: #71246b; */
  background: linear-gradient(60deg, #71246b 40%, #a76da7 100%);
}

.top img {
  height: 100%;
}

h2 {
  float: right;
  color: #ffffff;
  line-height: .9333rem;
  font-size: .5333rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1067rem;
  font-family: 'YouYuan';
  margin-right: .2667rem;
  margin-top: 0rem;
}

.header {
  height: 7rem;
}

.header img {
  position: relative;
  width: 6rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -.2rem;
}

.header ul {
  padding-top: .3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 7.3333rem;
  padding-left: 0rem;
}

.header ul li {
  box-sizing: border-box;
  border: .1rem #F2F2F2 solid;
  border-collapse: collapse;
  flex: 33.33333%;
  background-color: #71246b;
  list-style: none;

}

.header ul li>a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.header ul li a span {
  display: block;
  padding-top: .1rem;
  font-family: 'icomoon';
  font-size: .8rem;
  margin: auto;
}

.header ul li a p {
  font-size: .35rem;
  margin-top: 0.1rem;
  margin-bottom: 0.15rem;
}

.header div {
  text-align: center;
}


.header div .div {
  display: inline-block;
  height: .85rem;
  width: 3.38rem;
  background-color: #71246b;
  margin: 0 auto;
  text-align: center;
  border: .1rem #F2F2F2 solid;
}

.header div a {
  display: block;
  font-size: .35rem;
  color: #fff;
  line-height: .9rem;
  text-decoration: none;
}

.header div p {
  margin-top: -0.4rem;
  float: right;
  font-size: .2rem;
  color: rgb(219, 111, 223);
  margin-right: 0.0267rem;
}


.bottom {
  position: relative;
  height: 3.5rem;
  width: 100%;
}

.bottom ul {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0rem;
  background-color: rgb(116, 114, 114, 0.7);
  padding: 0rem;
  margin: 0rem;
  overflow: hidden;
}

.bottom ul li {
  list-style: none;
  height: 100%;
}

.bottom ul li:nth-child(1) {
  flex: 2;
  margin-top: .35rem;
  margin-left: .3rem;
  width: 4rem;
}

.bottom ul li:nth-child(1) p {
  font-size: .30rem;
}

.bottom ul li:nth-child(2) {
  flex: 1;
  width: 1.6rem;
  margin-top: .2667rem;
  font-size: .2rem;
  letter-spacing: normal;
  text-align: center;
}

.bottom ul li:nth-child(3) a {
  text-decoration: none;
  color: black;
}

.bottom ul li:nth-child(2) a {
  text-decoration: none;
  color: black;
}

.bottom ul li:nth-child(2) a p {
  font-size: .2rem;
  margin-top: 0rem;
}

.bottom ul li:nth-child(2) img {
  margin-top: .1rem;
  width: 80%;
}

.bottom ul li a img {
  width: 100%;
}

.bottom ul li:nth-child(3) {
  flex: 1;
  width: 1.4667rem;
  margin-top: .4rem;
  text-align: center;
}

.bottom ul li:nth-child(3) a p {
  font-size: .2rem;
  margin-top: 0rem;
}

.bottom ul li:nth-child(3) img {
  margin: 0 auto;
  margin-top: .1rem;
  width: 73%;
}

.bottom ul li:nth-child(4) {
  flex: 1.3;

  Flex-direction: column;
  float: right;
  text-align: center;
}

.bottom ul li:nth-child(4) p {
  height: auto;
  margin: 0 auto;
  font-size: .04rem;
}

.bottom ul li:nth-child(4) img {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 70%;
}