.nav {
    height: 16rem;
    width: 100%;
}

h1 {
    border-bottom: .05rem #71246b solid;
    font-size: .3rem;
}

.header1 {
    margin-top: .4rem;
    height: .8rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.header1 div {
    text-indent: 0.3rem;
    width: 4.5rem;
}

.header2 {
    margin-top: .4rem;
    height: .8rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.header2 div {
    text-indent: 0.3rem;
    width: 5rem;
}

.header3 {
    margin-top: .4rem;
    height: .8rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.header3 div {
    text-indent: 0.3rem;
    width: 6.8rem;
}

.header4 {
    margin-top: .4rem;
    height: .8rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.header4 div {
    text-indent: 0.3rem;
    width: 5rem;
}

.header5 {
    margin-top: .4rem;
    height: .8rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.header5 div {
    text-indent: 0.3rem;
    width: 4rem;
}

nav div p {
    line-height: .5rem;
    margin: 0 .3rem;
    font-size: .3rem;
    text-indent: 2em;
}

nav div:nth-child(1) p {
    margin-top: .7rem;
    font-size: .3rem;
    text-indent: 2em;
}

nav div img {
    width: 90%;
    margin-left: .5rem;
    margin-top: .2667rem;
}