h1 {
    border-bottom: .07rem #71246b solid;
    font-size: .3333rem;
}

.header1 {
    height: .8rem;
    margin-top: 1.2rem;
}

.header1 div {
    text-indent: .2rem;
    width: 2.6rem;
}

.header2 {
    height: .8rem;
    margin-top: .6667rem;
}

.header2 div {
    text-indent: .3rem;
    width: 5rem;
}

.header3 {
    height: .8rem;
    margin-top: .6667rem;
}

.header3 div {
    text-indent: .3em;
    width: 3.1rem;
}


nav div h3 {
    font-size: .3067rem;
    font-weight: 550;
    text-indent: .5rem;
}

nav div p {
    font-size: .3rem;
    text-indent: .5rem;
    width: 90%;
    margin: 0 auto;
}

nav .con1 img {
    width: 80%;
    margin-left: 10%;
}

nav .con2 img {
    width: 80%;
    margin-left: 10%;

}

nav .con3 img {
    margin-left: 10%;
    width: 80%;
}